/* Write your CSS here. */
.wgs {
  width: 320px;
  height: 241px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.wgs__mole-head {
  width: 188px;
  height: 178px;
  position: absolute;
  right: 77px;
  transition: margin-top;
  transition-duration: 0.25s;
}

.wgs__dirt-pile {
  width: 320px;
  height: 110px;
  position: absolute;
  bottom: 0;
}

.wgs__mole-head--hidden {
  margin-top: 241px;
}

.pf {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(4, 1fr);
}
